@tailwind base;
@tailwind components;
@tailwind utilities;

.is-invalid{
    color: #b91c1c;
    border-color: #b91c1c;
}

.avatar-img:hover, .change-avatar:hover + .avatar-img{
    opacity: 0.5;
}

.profile-picture{
    position: relative;
}

.icon-center{
    width: 30px;
    height: 30px;
}

.grid-container{
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.gradient-text{
    background: linear-gradient(-75deg, oklch(var(--p)) 0%, oklch(var(--s)) 50%, oklch(var(--a)) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 72px;
}

.change-avatar{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    cursor: pointer;
}

.profile-picture:hover .change-avatar{
    opacity: 1;
}

@media screen and (max-width: 600px){
    .mg-top{
        margin-top: 30px;
    }

    .gradient-text{
        font-size: 50px;
    }
}
